[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=landed21
Exec=/usr/bin/single-instance /opt/landed21/bin/landed21
Icon=/usr/share/icons/hicolor/80x80/apps/landed2180.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
