[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=landedsettings21
Exec=/opt/landedsettings21/bin/landedsettings21
Icon=landedsettings2164
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
